* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
}

.flex-wrap {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.flex-wrap-header {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #05386B;
    font-weight: bold;
    transition: color .1s;
}

a:hover {
    color: #3486eb;
}

.dashboard-link {
    border-left: 2px solid #225ca3;
    border-right: 2px solid #225ca3;
    padding: 0 5px;
}

button {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #3486eb;
}

.post-list {
    margin: 0;
    padding: 0;
}

textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 60vw;
}

input {
    font-size: 25px;
}

textarea {
    font-size: 16px;
}

textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
}

textarea {
    min-width: 40%;
    min-height: 100px;
}

form>div {
    margin-bottom: 2%;
}

form label {
    display: block;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background-color: #5CDB95;
    height: 8vw;
}

header h1 {
    font-size: 2.5em;
    color: white;
}

header nav {
    font-size: 1.5em;
}

main {
    flex: 1;
    padding: 2% 4%;
    background-color:#05386B;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #05386B;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
}

.btn-no-style:hover {
    background: none;
    color: #3486eb;
}

.delete-post-btn {
    background-color: #d41414;
    margin-left: 10px;
}

.delete-post-btn:hover {
    background-color: #ff643d;
}

#your-posts {
    padding-top: 0px;
    margin-top: 15px;
    border-top: 1px solid #5CDB95;
}

.post {
    margin-bottom: 2%;
    line-height: 150%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #EDF5E1;
}

h2, label {
    color: white;
}

.post-contents {
    padding: 5px 10px;
}

.post .title {
    border-bottom: 1px solid black;
}

#post-title {
    width: 60vw;
}

.edit-post {
    padding: 10px;
    background-color: #5CDB95;
    border-radius: 10px;
}

.edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
}

.post-input-margin {
    margin-bottom: 10px;
}

button {
    padding: 8px;
}

.upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
}

.upvote-btn:hover {
    background-color: #1f9c13;
}

.comment-form {
    margin-bottom: 5%;
}

.comment {
    padding: 1%;
    margin-bottom: 1%;
}

.comment:nth-child(odd) {
    background-color: #fff5eb;
}

.comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
}

.new-post-form input {
    width: 300px;
}

.edit-post-form {
    margin-bottom: 5%;
}

footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
}